.video_part {
  .video_source {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  .img {
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer; 

    &:not(:last-of-type) {
      margin-right: 8px;
    }
  }
}