@import './button.less';
@import './element.less';
html,
body {
    width: 100%;
    height: 100%;
    background-color: #F0F2F5;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 6px;
}

/* 滚动条滑块 */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e0e0e0;
}

.container {
    min-width: 1200px !important;
    margin: 0 auto;
    font-size: 16px;
    // 内容
    .box{
        overflow: hidden;
        width: 100%;
        padding: 20px 24px;
        .boxHeader{
            .flexBetween();
            .boxHeaderTitle{
            span{
                color: #00AAF0;
                padding: 0 5px;
            }
            }
        }
    }
    // 搜索
    .search{
        .flexBetween();
        .el-input__inner{
            background-color: #FFFFFF;
            height: 36px;
            line-height: 36px;
        }
        .searchRight{
            margin-bottom: 20px;
            .flexStart()
        }
    }
    // 左边带小点
    .status{
        position: relative;
        padding-left: 13px;
        &::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            background: #14dda6;
            border-radius: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }
}

body {
    /* 解决滚动条造成的页面抖动问题 */
    overflow: auto !important;
}


/* Element ui中  el-tooltip 的显示宽度的设置 */

.el-tooltip__popper {
    max-width: 50%!important;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexStart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 文字超出隐藏
.textEllipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.modelPage {
    margin: 15px 0!important;
    .el-pagination.is-background .el-pager li:not(.disabled).active{
        background: none!important;
    }
    .el-pagination__sizes{
        margin: 0 10px 0 10%;
        .el-input__inner,.el-input__inner:hover, .el-input__inner:focus{
            border: none !important;
        }
    }
    .el-pager li{
        min-width: auto!important;
        margin: 0 2px!important;
    }
}

// 图片未加载完的提示
.image-slot{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.el-empty{
    width: 100%;
}

.expense-title::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 18px;
    background: linear-gradient(180deg, #00D5F9 0%, #00AAF0 100%);
    border-radius: 4px;
    margin-right: 10px;
}
.expense-title {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font25 {
    font-size: 25px;
}

.bold {
    font-weight: bold;
}

.w100 {
    width: 100%;
}